/* Fonts:
font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Red Hat Text', sans-serif;
*/

.body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
}
.wrapper-body {
  width: 1440px;
  margin: 0 auto;
}
.wrapper {
  margin-left: 120px;
}
.header {
  position: fixed;

  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.logo {
  margin-left: 120px;
  margin-right: 165px;

  display: flex;
  gap: 6px;
}
.logo__img {
  width: 30px;
  height: 30px;

  align-self: center;
}
.logo__title {
  font-family: "Magra", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.nav {
}
.nav__list {
  display: flex;
  gap: 42px;
}
.nav__item {
  color: #ffffff;
  font-size: 16px;
}

.link:hover {
  transition: all 0.5s ease 0s;
  color: #0d606f;
}

.btn {
  padding: 10px 30px;

  color: #ffffff;
  font-size: 16px;

  background-color: #0d606f;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  cursor: pointer;
}

.btn:hover {
  transition: all 0.5s ease 0s;

  background-color: #207483;
  box-shadow: 0px 4px 4px rgba(255, 252, 252, 0.25),
    0px 2px 3px rgba(211, 222, 224, 0.16);
}

.header__btn {
  margin-left: 200px;
  margin-right: 120px;
}
.main {
}
.preview {
  background-image: url(../assets/img/preview-background.jpg);
  padding-bottom: 253px;
  margin-bottom: 80px;
}
.preview__title {
  padding-top: 120px;
  margin-bottom: 35px;

  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;

  color: #ffffff;
}
.preview__subtitle {
  margin-bottom: 46px;

  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.preview__input-wrapper {
}
.preview__form {
  position: relative;
}
.preview__input {
  padding-left: 46px;
  height: 95px;
  width: 892px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;

  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.preview__input::placeholder {
  color: #f2785c;
}
.preview__btn {
  padding: 13.5px 34px;

  position: absolute;
  top: 17px;
  left: 646px;

  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.steps {
  margin-bottom: 97px;
}
.steps__title {
  margin-bottom: 40px;
  text-align: center;

  font-size: 40px;
  line-height: 53px;

  color: #f2785c;
}
.steps__list {
  display: flex;
  justify-content: space-between;
}
.steps__item {
}
.steps__item:first-child {
  margin-left: 132px;
}
.steps__item:last-child {
  margin-right: 132px;
}
.steps__item:nth-child(2) {
  margin-left: 70px;
}
.steps__icon {
  margin-bottom: 27px;
  text-align: center;
}
.steps__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #0d606f;
}
.destinations {
}
.destinations__title {
  text-align: center;
  margin-bottom: 42px;

  font-weight: 500;
  font-size: 40px;
  line-height: 53px;

  color: #f2785c;
}
.slider {
}
.stories {
}
.stories__title {
}
.stories__list {
}
.stories__item {
}
.stories__img-wrapper {
}
.stories__img {
}
.stories__subtitle {
}
.stories__text {
}
.footer {
}
.footer__text {
}
.social__list {
}
.social__item {
}
.social__icon-wrapper {
}
